a {
  @extend .text-decor-none;
  color: $color-yellow;

  &:hover { border-bottom: 1px solid $color-yellow; }
}

.img-shadow { @include box-shadow(0 1px 8px #3f3232); }

.page-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-section {
  @include center-horizon;
  background-color: $color-blue-bg;
  border-radius: 0.4em;
  width: 85%;
  height: auto;
  padding: 0 1.5em 0.2em 1.5em;
  @include box-shadow(0 0 5px rgba(0, 0, 0, 0.5));

  h1, h2, h3, h4, h5, h6 {
    color: $color-blue-header;
    text-shadow: 0 1px 1px $color-black;
  }
}

.page-wrapper { margin-top: 5em; }
