// ------- Commonly used alignments and type styles
.page-section {
  @include block-center();
  background-color: $color-blue-bg;
  border-radius: 0.7em;
  width: 94%;
  height: auto;
  padding: 0 0.1em 0.2em 0.5em;

  &:last-of-type { margin-bottom: -1em; }

  h1, h2, h3, h4, h5, h6 { color: $color-blue-header; }
}

.page-wrapper { margin-top: 5em; }

a {
  @extend .text-decor-none;
  color: $color-yellow-light;
  text-shadow: 1px 1px 2px $color-black;

  &:hover { border-bottom: 1px solid $color-yellow-light; }
}

.fully-centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

.img-shadow { @include box-shadow(0 1px 2px 1px $color-black); }
