// Flexbox columns
.homepage-columns {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  & > div {
    width: 50%;
    margin-right: 0.5em;
  }
  & > div > h2 { @extend .text-center; }

  // ------- GitHub feed
  .gh-events dl { font-size: 0.95em; }


  //  #info {

  //  }
}
