.lenovo {
  z-index: 100;
  position: fixed;
  top: 4em;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50em;
  height: 32em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 6px;
  background-color: $color-white;
  color: $color-black;
  background-clip: padding-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  h1 { @extend .text-center; color: $color-blue-header; }

  .btn {
    @extend .block-center;
    @extend .text-center;
    width: 40%;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    color: $color-white;

    &:hover { opacity: 0.8; }

    &.remove {
      background-color: #E02222;
    }

    &.close {
      background-color: #8A2BE2;
    }
  }
}
