---
title: About
googlefont: Source+Sans+Pro:500,700
---
{% include header.html %}
{% include base-style.html %}
{% include bridge.html %}

<p>Hello! I am <strong>Triangle717</strong> (pronounced <strong>lee seven one seven</strong>), sometimes known as <strong>le717</strong> (pronounced 
<strong>lee seven seventeen</strong>). I am 19 years old, harkening from Triangle Land, Georgia, USA. I am a Christian, born and raised in a Christian 
home, and I am not afraid to publicly proclaim my faith in God the Father, God the Son (Jesus Christ), and God the Holy Spirit.</p>

<p>I am a programmer. After discovering the world of programming in October 2013 by going through the
<a href="http://www.codecademy.com" target="_blank">Codcademy HTML Fundamentals</a> track and following
<a href="http://swaroopch.com/notes/python/" target="_blank"><em>A Byte of Python</em></a> by
<a title="Swaroop C H" href="http://swaroopch.com/">Swaroop C H</a>, I discovered what God had prepared me for though the hardships I have endured.
I am currently attended technical college to obtain my associates degree in website design and development. I expect to graduate in 2015.</p>

<p>I am a strong supporter of open-source programs. You will find all my programming work on <a href="https://github.com/le717" target="_blank">GitHub</a>.
Links to various projects and downloads for them can be found on the <a target="_blank" href="http://Triangle717.WordPress.com/code/">Source Code</a> and <a href="Triangle717.WordPress.com/downloads/">Downloads</a> pages of my <a target="_blank" href="http://Triangle717.WordPress.com/">blog</a>, respectively.</p>

<blockquote>For I am not ashamed of the gospel of Christ, for it is the power of God to salvation for everyone who believes...
<a target="_blank" href="http://bible.com/114/rom.1.16.nkjv">Romans 1:16a (NKJV)</a></blockquote>

<p style="text-align:center;"><img class="aligncenter" style="box-shadow:1px 1px 5px 1px black;" alt="Triangle717" src="http://1.gravatar.com/avatar/3493f5b364f9958db51194a6fc629a46?size=400" width="400" height="400" /></p>

<h2>About this site</h2>

{% include footer.html %}