---
title: Home
googlefont: Source+Sans+Pro:400,600,700
---
{% include header.html %}
{% include base-style.html %}
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}/css/style.css">
{% include bridge.html %}
  <!-- Displays what browser the user is using -->
  <div id="yourBrowser">
    <a title="Click to dismiss message"></a>
  </div>

  <!-- My logo -->
  <div>
    <a id="my-logo-link" href="about.html" title="About Me"><img class="centered my-logo" alt="Triangle Land logo" width="370" height="370" src="{{ site.baseurl }}/img/Triangle717-Logo.svg" /></a>
  </div>

  <div class="centered" id="subpages">
    <h2>Pages</h2>
    <ul>
      <li><a href="pages/notpong.html">Not Pong</a></li>
      <li><a href="pages/spelling.html">Spelling Captcha</a></li>
      <li><a href="stories/index.html">Stories</a></li>
    </ul>
  </div>

  <div class="centered" id="subsites">
    <h2>Sites</h2>
    <ul>
      <li><a target="_blank" href="{{ site.baseurl }}/landslides/">A LANDSLIDE HAS OCCURRED</a></li>
      <li><a target="_blank" href="{{ site.baseurl }}/CRTC/">CRTC</a></li>
      <li><a target="_blank" href="{{ site.baseurl }}/LUN-Patcher/"><em>LEGO Universe News!</em> Patcher v2.0 (Dev)</a></li>
      <li><a target="_blank" href="{{ site.baseurl }}/PatchIt/">PatchIt! Website</a></li>
      <li><a target="_blank" href="{{ site.baseurl }}/teevee/">TEE VEE HERE</a></li>
      
    </ul>
  </div>

  <!--
    Ionicons
    http://ionicons.com/
  -->
  <a class="social-button-link" target="_blank" href="http://Triangle717.WordPress.com"><div class="icon ion-social-wordpress social-button centered" id="wp-button"></div></a>
  <a class="social-button-link" target="_blank" href="{{ site.github.owner_url }}"><div class="icon ion-social-github social-button centered" id="gh-button"></div></a>
  <a class="social-button-link" target="_blank" href="http://www.youtube.com/user/Triangle717"><div class="icon ion-social-youtube social-button centered" id="yt-button"></div></a>

  <!-- MIT License, Sitemap link -->
  <a class="centered text-bold" id="mit-license" href="{{ site.baseurl }}/license.html">MIT License</a>
  <a class="centered" id="sitemap-link" href="{{ site.baseurl }}/sitemap.html">Sitemap</a>

  <!-- jQuery and jQuery.browser -->
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="lib/jquery.browser.min.js"></script>

  <!--
    String::format
    https://github.com/davidchambers/string-format
  -->
  <script src="lib/string-format.js"></script>

  <!-- My own JavaScript -->
  <script src="js/le717.github.io.min.js"></script>
  {% include footer.html %}
