---
title: Sitemap
layout: full-page
---
  <!-- Overwrite header centering -->
  <style>h1 { text-align: left; }</style>
  <!-- FUTURE Sort list, tracking https://github.com/Shopify/liquid/pull/304 -->
  <nav id="sitemap">
    <ul>
    {% for p in site.pages %}{% if p.type == "Story" %}
      <h3>Stories</h3>{% endif %}{% if p.type != 404 %}
      <li>
        <a {% if p.url == page.url %}class="sitemap-active" title="You are here!"{% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
      </li>{% endif %}{% endfor %}
    </ul>
  </nav>
