  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Share+Tech+Mono">
  {% if page.google_font %}<link rel="stylesheet" href="http://fonts.googleapis.com/css?family={{ page.google_font }}">{% endif %}

  <!-- Base CSS styling -->
  <style>
    html { min-width: 320px; }

    body {
      font-family: "Noto Sans", "Open Sans", Arial, sans-serif;
      font-weight: 400;
      letter-spacing: -0.5px;
      color: #f8f8f8;
/*      background: #272727 url("/img/newbg.png") repeat fixed;*/
      background-color: #272727;
    }

    /* Set link decoration */
    a {
      text-decoration: none;
      color: #fcf54a;
      text-shadow: 1px 1px 2px black;
    }
    a:hover { text-decoration: underline; }
  </style>

  <!--
    Ionicons
    http://ionicons.com/
  -->
  <link rel="stylesheet" media="all" href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">
  <link rel="stylesheet" media="all" href="/css/base-elements.css">
  <link rel="stylesheet" media="screen" href="/css/screen.css">
  <link rel="stylesheet" media="all" href="/css/style.css">
  <link rel="stylesheet" media="all" href="/css/animations.css">