<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700">
  {% if page.googlefont %}<link rel="stylesheet" href="http://fonts.googleapis.com/css?family={{ page.googlefont }}">{% endif %}

  <!-- Grab my CSS -->
  <style>
    html {
      min-width: 320px;
      -webkit-font-smoothing: antialiased;
    }
    body {
      font-family: "Source Sans Pro", "Open Sans", sans-serif;
      font-weight: 400;
      letter-spacing: -0.5px;
      color: #f8f8f8;
      background: #494949 url("{{ site.baseurl }}/img/newbg.png") repeat fixed;
    }
    
    /* Set link decoration */
    a {
      text-decoration: none;
      color: #fcf54a;
      text-shadow: 1px 1px 2px black;
    }
    a:hover { text-decoration: underline; }
  </style>
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}/lib/ionicons/ionicons.min.css">
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}/css/base-elements.css">
  <link rel="stylesheet" media="screen" href="{{ site.baseurl }}/css/screen.css">
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}/css/style.css">