  <!-- Pull in fonts from Google -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family={{ page.googlefont }}">

  <!-- Grab my CSS -->
  <style>
    html {
      min-width: 320px;
      -webkit-font-smoothing: antialiased;
    }
    body {
      font-family: "Source Sans Pro", "Open Sans", sans-serif;
      font-weight: 400;
      letter-spacing: -0.5px;
      color: #f8f8f8;
      background: #494949 url("{{ site.baseurl }}/img/bg.png") repeat fixed;
    }
    
    /* Set link decoration */
    a {
      text-decoration: none;
      color: #fcf54a;
      text-shadow: 1px 1px 2px black;
    }
    a:hover { text-decoration: underline; }
  </style>