<main class="diag-email">
  <h1>Email me!</h1>
  <p>Yup, you can email me! Just fill out the fields and I will get your message in no time!</p>

  <form id="form-email">
    <label>
      <span>Email</span>
      <input type="email" name="email" placeholder="Your email goes here" required>
    </label>
    <label>
      <span>Name</span>
      <input type="text" name="name" placeholder="Your name goes here" required>
    </label>
    <label>
      <span>Message</span>
      <textarea name="message" placeholder="Your message goes here!" required></textarea>
    </label>

    <h3>Prove you are not a bot</h3>
    <label><input name="bot" type="checkbox">&nbsp;Do not check</label>

    <input class="btn send" type="submit" name="submit" value="Send">
    <div class="btn cancel">Cancel</div>
  </form>
</main>
