<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Caleb Ely - Programmer && Web Developer">
  <meta name="description" content="It's a world of 717 Triangular possibilities!">
  <meta name="keywords" content="caleb ely,website developer,webdev,programming,programmer,python,javascript,php">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" sizes="152x152" href="/favicon.png">
  <!--[if IE]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->
  <title>Caleb Ely | {{ page.title }}</title>