<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Caleb Ely - Programmer, Web Developer">
  <meta name="description" content="It's a world of 717 Triangular possibilities!">
  <meta name="keywords" content="caleb ely,website developer,webdev,programming,programmer,python,javascript,php">
  <link rel="apple-touch-icon" sizes="192x192" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="192x192" href="/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" sizes="192x192" href="/favicon.png">
  <title>Caleb Ely | {{ page.title }}</title>
