<section class="ani section-content" id="abilities">
  <div class="highlighted">
    <h1>Analyst</h1>
    <p>Because I am very detail-oriented and technical-minded, I constantly seek out well-designed code architecture and efficient coding techniques.</p>
  </div>

  <div class="highlighted">
    <h1>Programmer</h1>
    <p>I have been programming since 2013, gaining experience in Python, JavaScript, and PHP. I also contribute to open-source software and open-source much of my own work.</p>
  </div>

  <div class="highlighted">
    <h1>Student</h1>
    <p>Primarily self-taught with an Associate's degree in Web development, I am always open to learning new skills and sharpening my abilities.</p>
  </div>
</section>