<div class="lenovo">
  <h1>PSA: You may have malware!</h1>
  <p>No, this is not an advertisement, virus, or unintentionally displayed message. I, <a target="_blank" href="{{ site.author_twitter }}">Triangle717</a>, have intentionally created this box to warn <span class="text-italic">you</span> of possible malware on <span class="text-italic">your</span> computer!</p>

  <p>It has been recently discovered that <a target="_blank" href="http://lenovo.com/">Lenovo</a> preinstalled browser tracking software known as "Superfish" that records all the things you do in your web browser (even on secure sites!) in order to display unwanted ads. However, the way Lenovo has committed this breach of privacy creates ways for other bad software to mess up your computer!</p>

  <p>You are seeing this message because I have detected signs of Superfish on your computer. I <span class="text-bold text-italic">strongly recommend and encourage</span> you to use the <a target="_blank" href="https://lastpass.com/superfish/">LassPass Superfish Checker</a> and follow their directions to remove this privacy-invading software from your computer!</p>

  <p>If you would like to learn more about the dangers of Superfish, I recommend the following articles:</p>

  <ul>
    <li><a target="_blank" href="https://blog.lastpass.com/2015/02/are-you-at-risk-from-superfish-check-now.html/">
      LassPass - Are You at Risk from Superfish? Check Now.</a></li>
    <li><a target="_blank" href="http://www.cnet.com/how-to/lenovo-superfish-adware-uninstall-fix/">
      CNET - How to find out if your Lenovo is infected with the Superfish adware and remove it</a></li>
  </ul>

  <div class="btn remove">Remove Superfish Now!</div>
  <div class="btn close">Close this box</div>
</div>
