<div class="btn-navbar"></div>
<div class="navbar">
  <ul>
    <li><a href="/about/"><span class="navbar-icon"></span><span class="navbar-text">About</span></a></li>
    <li><a href="/blog/"><span class="navbar-icon ion ion-android-book"></span><span class="navbar-text">Blog</span></a></li>
    <li><a href="/contact/"><span class="navbar-icon ion ion-android-mail"></span><span class="navbar-text">Contact</span></a></li>
    <li><a href="/portfolio/"><span class="navbar-icon ion ion-document"></span><span class="navbar-text">Portfolio</span></a></li>
    <li><a href="/"><span class="navbar-icon"><img alt="Triangle Land logo" width="25" height="25" src="/img/Triangle717.svg"></span></a></li>
  </ul>
</div>