<!--<div class="btn-navbar"></div>-->
<div class="navbar">
  <ul>
    <li><a href="/"><span class="navbar-icon fa fa-home"></span><span class="navbar-text">Home</span></a></li>
    <li><a href="/about/"><span class="navbar-icon fa"></span><span class="navbar-text">About</span></a></li>
    <li><a href="/blog/"><span class="navbar-icon fa fa-book"></span><span class="navbar-text">Blog</span></a></li>
    <li><a href="/contact/"><span class="navbar-icon fa fa-envelope"></span><span class="navbar-text">Contact</span></a></li>
    <li><a href="/portfolio/"><span class="navbar-icon fa"></span><span class="navbar-text">Portfolio</span></a></li>
    <li><a href="/"><span class="navbar-logo"><img alt="Triangle Land logo" width="50" height="50" src="/img/Triangle717.svg"></span></a></li>
  </ul>
</div>