  <!-- jQuery and jQuery.browser -->
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.0.6/jquery.browser.min.js"></script>

  <!--
    String::format
    https://github.com/davidchambers/string-format
  -->
  <script src="lib/string-format.js"></script>

<!--
     $.stripClass.js
    https://gist.github.com/zaus/6734731
  -->
  <script src="lib/jQuery.stripClass.js"></script>

  <!-- My own JavaScript -->
  <script src="js/script.js"></script>