<div class="sidebar-btn-visible sidebar-btn">
<!--  <img class="no-mobile-resize ie-svg" alt="Show/hide sidebar" width="40" height="40" src="/img/new-bowtie.svg">-->
</div>

<div class="sidebar sidebar-hidden">
  <ul>
    <li><a href="/about/index.html">About</a></li>
    <li><a href="/blog/index.html">Blog</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="/license/index.html">MIT License</a></li>
    <li><a href="#">Code</a></li>
    <li><a href="/portfolio/index.html">Portfolio</a></li>
    <li><a href="/writings/index.html">Writings</a></li>
    </ul>

  <!-- Social buttons -->
  <a class="social-button-link" target="_blank" href="http://Triangle717.WordPress.com"><p class="icon ion-social-wordpress social-button" id="wp-button"></p></a>
  <a class="social-button-link" target="_blank" href="{{ site.github.owner_url }}"><p class="icon ion-social-github social-button" id="gh-button"></p></a>
  <a class="social-button-link" target="_blank" href="http://www.youtube.com/user/Triangle717"><p class="icon ion-social-youtube social-button" id="yt-button"></p></a>
</div>
