<div id="sidebar-btn" onclick="showSidebar();"><img alt="Show/hide sidebar" width="48" height="48" src="/img/bowtie.svg"></div>
<div id="sidebar">
  <ul>
    <li><a href="/about/index.html">About</a></li>
    <li><a href="/blog/index.html">Blog</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="/license/index.html">MIT License</a></li>
    <br>
    <li><a href="#">Demos</a></li>
    <li><a href="/stories/index.html">Stories</a></li>
    <li><a href="#">Tutorials</a></li>
    </ul>

  <!-- Social buttons -->
  <a class="social-button-link" target="_blank" href="http://Triangle717.WordPress.com"><p class="icon ion-social-wordpress social-button" id="wp-button"></p></a>
  <a class="social-button-link" target="_blank" href="{{ site.github.owner_url }}"><p class="icon ion-social-github social-button" id="gh-button"></p></a>
  <a class="social-button-link" target="_blank" href="http://www.youtube.com/user/Triangle717"><p class="icon ion-social-youtube social-button" id="yt-button"></p></a>
</div>
