body { font-family: "Open Sans", sans-serif; }
.text-center { text-align: center; }

#captcha-image-container { padding-top: 1em; }

.captcha-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 2em;
}
.captcha-image:last-child { padding-bottom: 0; }

#full-answer {
  font-weight: 700;
  quotes: "\201C""\201D""\201C""\201D";
}
#full-answer::before { content: open-quote; }
#full-answer::after { content: close-quote; }

#input-box {
  margin-left: 0.5em;
  margin-right: 0.3em;
  outline-color: transparent;
  -webkit-box-shadow: -0.4px -0.5px 0.5px 0.1px #000;
          box-shadow: -0.4px -0.5px 0.5px 0.1px #000;
}

/**
 * Mac-style CSS button from
 * http://calebogden.com/safari-css-submit-button
 */
#submit-button {
  border-width: 1px;
  border-style: solid;
  border-color: #5e5e5e #888 #696969 #888;
  font: 11px/16px 'Lucida Grande', Sans-serif;
  color: #000;
  text-decoration: none;
  padding: 0 8px;
  cursor: default;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;

  border-radius: 18px;
  background: #FCFCFC;
  background: linear-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(40%,#f3f3f3), color-stop(100%,#ededed));
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15),
    0 1px 0 0 rgba(0, 0, 0, 0.15),
    0 -2px 3px 0 #FFF inset,
    0 -10px 0 0 #ededed inset;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15),
    0 1px 0 0 rgba(0, 0, 0, 0.15),
    0 -2px 3px 0 #FFF inset,
    0 -10px 0 0 #ededed inset;
}

#submit-button:active {
  border-color: #323d9f #3365b4 #3365b4 #6f6f6f;
  background: #7cb0de;
  background: linear-gradient(linear, left top, left bottom, color-stop(0%,#a7c7e1), color-stop(40%,#9dc2e1), color-stop(100%,#7cb0de));
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15),
    0 1px 0 0 rgba(0, 0, 0, 0.05),
    0 -2px 3px 0 rgba(182, 226, 244, 1) inset,
    0 -10px 0 0 #73abda inset;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15),
    0 1px 0 0 rgba(0, 0, 0, 0.05),
    0 -2px 3px 0 rgba(182, 226, 244, 1) inset,
    0 -10px 0 0 #73abda inset;
}
