// CSS transform property
// SCSS mixin from https://github.com/le717/scss-mixins

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}
