// CSS longhand WebKit-prefixed and unprefixed transition property
// SCSS mixin from https://github.com/le717/scss-mixins

@mixin transition($property, $duration, $easing) {
  -webkit-transition-property: $property;
  -webkit-transition-duration: $duration;
  -webkit-transition-timing-function: $easing;

  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $easing;
}
