// ------- Fade in animation
.ani-fadein {
  -webkit-animation-name: aniFadeIn;
          animation-name: aniFadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes aniFadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes aniFadeIn { from { opacity: 0; } to { opacity: 1; } }


// ------- Fade out animation
.ani-fadeout {
  -webkit-animation-name: aniFadeOut;
          animation-name: aniFadeOut;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes aniFadeOut { from { opacity: 1; } to { opacity: 0; } }
@keyframes aniFadeOut { from { opacity: 1; } to { opacity: 0; } }
