// ------- Blog
.single-post {
  @extend .page-section;
  border-radius: 0.5em;
  background-color: $color-blue-bg;
}

.post-url {
  &:hover { border-bottom: none; }

  .post-title {
    @extend .text-center;

    &:active { @include transform(translate3d(0, 2px, 0)); }
  }
}

.post-url { text-shadow: 1px 1px 2px $color-black; }

.post-meta {
  @extend .text-center;
  color: $color-yellow-light;
  margin-top: -1em;
}

.post-content {
  // Flatten blockquotes
  blockquote p {
    display: inline;
    margin: 0 -0.8em;
  }

  // Indent leading paragraph sentences
  p { text-indent: 0.8em; }

  // Blog post images
  img {
    @extend .img-shadow;
    @extend .img-responsive;
    @include block-center;
  }
}

.end-of-posts {
  @extend .text-center;
  display: block;
  font-size: 1.1em;
  margin-top: 2.5%;
  margin-bottom: -1%;

  &.hidden { display: none; }
}
