// ------- Call to action button
.btn-cta {
  background-color: #008fef;
  border-radius: 2px;
  color: #fff;
  width: 12em;
  height: 2.6em;
  font-size: 1.2em;
  text-align: center;
  margin: 0.5em auto;

  & > h2 {
    color: #fff;
  }
}
