// ------- Code display
code { font-family: $font-family-code; }

pre {
  border-left: 0.3em solid #e2f89c;
  padding: 0 0.5em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  width: auto;
  overflow: auto;
  background-color: $color-gray-trans;
  font-family: $font-family-code;
}
