// ------- Social buttons
.contact-field {
  @extend .text-center;
  a:hover { border-bottom: none; }

  // Icon size and color
  span {
    font-size: 4.5em;
    margin-bottom: 5%;
  }

  // Overwrite the default table stying
   td {
    outline: none;
    padding: 0;
    @include transition-long((-webkit-transform, -ms-transform, transform), 0.4s, ease);

    &:hover { @include transform(scale(1.05)); }
  }

  // Button icons
  .contact-fb { color: #3b5998; }
  .contact-gh { color: #999999; }
  .contact-ln { color: #caccce; }
  .contact-twitter { color: #55acee; }
  .contact-wp { color: #0087be; }
  .contact-yt { color: #cd201f; }
}
