// ------- Email form
.diag-email {
  position: relative;
  width: 50em;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-bottom: 1.5%;
  padding-right: 1em;
  border-radius: 0.5em;
  background-color: $color-white;
  color: $color-black;
  background-clip: padding-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  a {
    text-shadow: none;
    color: $color-blue-header;
  }

  h1 {
    @extend .text-center;
    color: $color-blue-header;
  }
}

#form-email {
  label {
    display: block;
    @extend .text-center;

    & > span {
      @extend .text-bold;
      display: inline-block;
      margin-bottom: 0.3em;
    }

    & > h3 { @extend .text-center; }

    input[type="text"],
    input[type="email"],
    textarea {
      display: block;
      width: 50%;
      padding: 0.5em 0.75em;
      margin-right: auto;
      margin-bottom: 1em;
      margin-left: auto;
      @include box-shadow(0 1px 2px #ddd inset);
      border: 1px solid rgba(147, 128, 108, 0.25);
      border-radius: 0.4em;
      font-family: $font-family;
      font-size: 1.05em;

      &:focus { @include box-shadow(0px 1px 2px 2px #DDD); }
    }
  }

  .btn {
    @extend .text-center;
    @include center-horizon;
    width: 40%;
    margin-top: 0.6em;
    padding: 0.5em;
    color: $color-white;
    border-radius: 0.4em;
    cursor: pointer;

    &:hover { opacity: 0.9; }

    &.cancel {
      color: $color-white;
      background-color: #E02222;
    }

    &.send {
      background-color: #8A2BE2;
      font-family: $font-family;
      border: none;
      font-size: 1em;
    }
  }
}
