// ------- Flexbox columns
.homepage-columns {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  & > div { width: 50%; }
  & > div > h2 { @extend .text-center; }

  // ------- GitHub feed
  .gh-events {
    @extend .text-center;

    dl { font-size: 0.95em; }
    dd { margin-right: 1.5em; }
  }

  #info { @extend .text-center; }
}
