// ------- Blockquotes
blockquote {
  border-left: 0.3em solid #e2f89c;
  padding: 0 0.5em 0.3em;
  background-color: #95afba;
  font-size: 1.1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  quotes: "\201C""\201D""\201C""\201D";

  &::before {
    content: open-quote;
    font-size: 1.6em;
    margin-right: -0.1em;
  }
}
