// ------- Blockquotes
blockquote {
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5em 0.3em;0
  width: 85%;

  border-left: 0.3em solid #e2f89c;
  background-color: #004FEF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  quotes: "\201C""\201D""\201C""\201D";

  // Flatten child elements
  * { display: inline; }

  &::before {
    content: open-quote;
    font-size: 1.6em;
  }
}
