---
title: Not Pong
google_font: Press+Start+2P
redirect_from: /pages/not-pong.html
---
{% include head.html %}
{% include base-style.html %}
  <link rel="stylesheet" media="all" href="/css/not-pong.min.css">
{% include bridge.html %}
  <!-- Objects used in animations -->
  <div id="wrapper">
    <!-- Ball, rackets, their animations, and Not Pong title -->
    <div class="slide-ani" id="loading"><p class="rotate-ani">Triangle717</p></div>
    <div class="racket racket-ani" id="left-racket"></div>
    <div class="racket racket-ani" id="right-racket"></div>
    <p id="game-name">Not Pong</p>
  </div>
{% include foot.html %}