---
title: Triangle Land - Not Pong
googlefont: Press+Start+2P
---
{% include header.html %}
{% include base-style.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/not-pong.min.css">
{% include bridge.html %}
  <!-- Objects used in animations -->
  <div id="wrapper">
    <!-- Ball, rackets, their animations, and Not Pong title -->
    <div class="slide-ani" id="loading"><p class="rotate-ani">Triangle717</p></div>
    <div class="racket racket-ani" id="left-racket"></div>
    <div class="racket racket-ani" id="right-racket"></div>
    <p id="game-name">Not Pong</p>
  </div>
{% include footer.html %}