---
title: Test page
---
{% include header.html %}
{% include base-style.html %}
{% include bridge.html %}
  <pre>#! /usr/bin/env/python

# Read entire contents of MyFile.txt into memory
with open("MyFile.txt", "rt") as f:
    lines = f.read()
  </pre>

  <h1>Sitemap</h1>
    <nav>
      {% for section in site.data.docs %}
        <h4>{{ section.title }}</h4>
          <ul>
            <a class="{% if page.url == page.url %}sitemap-active{% endif %}" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
          </ul>
      {% endfor %}
    </nav>

  <nav>
    <ul>
      {% for p in site.pages %}
      <li>
        <a class="{% if p.url == page.url %}sitemap-active{% endif %}" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

{% include footer.html %}
