---
title: Test page
---
{% include header.html %}
{% include base-style.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <style>
  </style>
{% include bridge.html %}
  <pre>#! /usr/bin/env/python

# Read entire contents of MyFile.txt into memory
with open("MyFile.txt", "rt") as f:
    lines = f.read()
</pre>

  <code>new Date()</code>

  <h1>Sitemap</h1>
    <nav>
      <ul>
      {% for section in site.data.docs %}
        <li>
          <h4>{{ section.title }}</h4>
          <a>{{ page.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>

{% include footer.html %}
